:root {
  --color-primary: hsl(203, 25%, 29%);
  --color-secondary: hsl(5, 85%, 77%);
  --color-tertiary: hsl(52, 90%, 73%);

  --color-primary-shade: hsl(203, 25%, 29%);
  --color-secondary-shade: hsl(5, 51%, 63%);
  --color-tertiary-shade: #cea556;

  --color-primary-highlight: hsl(0, 0%, 100%);
  --color-secondary-highlight: hsla(0, 0%, 85%, 0.9);
  --color-tertiary-highlight: hwb(0 47% 53%);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: bold;
}

body {
  display: grid;
  grid-template-rows: 1fr 1fr auto;
}

header {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;

  background-color: hsl(203, 25%, 29%);

  overflow: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  padding: 1.5rem;

  position: absolute;
  top: 0;
}

nav a {
  font-size: clamp(1.2rem, calc(1.2rem + 0.1vw), 2.5rem);

  z-index: 1;
  text-decoration: none;
  color: var(--color-primary-highlight);
}

nav a:hover {
  text-decoration: underline;
  color: var(--color-secondary-highlight);
}

.header__image {
  background-image: url(assets/images/image-background.jpg);
  background-size: 80%;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  width: 100%;
  aspect-ratio: 1 / 1;
}

.header__text {
  display: flex;
  flex-direction: column;

  width: 80vw;

  text-align: center;

  gap: 2rem;

  margin-block-end: 3rem;
}

.header__text h1 {
  font-size: clamp(2rem, calc(2rem + 1vw), 6rem);
  color: var(--color-primary-highlight);
}

.header__text p {
  font-size: clamp(1.2rem, calc(1.2rem + 0.2vw), 2.5rem);
  color: var(--color-secondary-highlight);
}

header::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;

  width: 100vw;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7) 100%
  );
}

.header__text > * {
  position: relative;
  z-index: 1;
}

#home {
  position: sticky;
}

main {
  min-height: 80%;
}

.library {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    clamp(15rem, calc(25rem - 15vw), 20rem)
  );
  gap: 1rem;

  justify-content: center;

  padding: 2rem;
}

.library__heading {
  position: sticky;
  top: 0;
  width: 100vw;

  text-align: center;
  color: var(--color-tertiary-highlight);
  background: var(--color-secondary-highlight);
  font-size: clamp(1.2rem, calc(1.2rem + 0.2vw), 2.5rem);

  padding: 1rem;
  margin-bottom: 1rem;
}

.library__book {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  aspect-ratio: 1.4 / 1;
  border-radius: 1.5rem;

  background: var(--color-tertiary);
  border: 0.5rem solid var(--color-tertiary-shade);
}

#library__book--add {
  background: var(--color-secondary-highlight);
  border: 0.6rem solid var(--color-tertiary-highlight);

  color: var(--color-tertiary-highlight);
  font-size: clamp(1.5rem, calc(2rem - 1vw), 2rem);
}

#library__book--add:hover {
  cursor: pointer;
  background: var(--color-primary-highlight);

  transition: 100ms ease;
}

#library__book__form {
  background: var(--color-secondary-highlight);
  border: 0.6rem solid var(--color-tertiary-highlight);
  border-radius: 1.5rem;

  display: none;
  flex-direction: column;
  justify-content: center;

  padding: 1rem;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: min(80vw, 30rem);
}

#library__book__form label {
  display: block;

  margin-block: 0.5rem;

  font-size: clamp(1rem, calc(1rem + 0.2vw), 3rem);
}

#library__book__form input[type="text"] {
  display: block;
  border-radius: 1rem;
  padding: 0.4rem 1rem;
  margin-block: 0.5rem;
  width: 100%;
  border: none;
  transition: 500ms ease;
}

#library__book__form input[type="text"]:hover,
#library__book__form input[type="number"]:hover {
  transform: scale(1.02);
}

#library__book__form input[type="number"] {
  display: block;
  border-radius: 1rem;
  padding: 0.4rem 1rem;
  margin-block: 0.5rem;
  width: 12rem;
  border: none;
  transition: 500ms ease;
}

#create-book {
  padding: 0.5rem 1rem;
  margin: auto;
  width: fit-content;
  border-radius: 1rem;
  background-color: var(--color-tertiary-highlight);
  border: 1px solid white;
  color: var(--color-primary-highlight);
  font-size: 0.9rem;
  transition: 200ms ease;
}

#create-book:hover {
  cursor: pointer;
  transform: scale(1.05);
  filter: brightness(1.2);
}

#create-book:focus {
  transform: scale(1);
}

#library__book__form input[type="radio"] {
  width: 1rem;
  border: 0;
  aspect-ratio: 1/1;
}

#library__book__form input[type="radio"]:hover {
  cursor: pointer;
}

#close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  background: none;
  width: 0.5rem;
  border: none;
  font-size: 1rem;
  color: black;
  z-index: 100;
}

#close-button:hover {
  cursor: pointer;
  color: var(--color-tertiary-highlight);
}

@media screen and (min-width: 45rem) {
  header {
    max-width: 100vw;
  }

  header::before {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 40%,
        rgba(0, 0, 0, 0.7) 100%
      ),
      linear-gradient(150deg, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.7) 100%);
  }

  nav {
    padding: 2rem;
  }

  .header__image {
    background-position: top left;
    background-size: 80%;

    margin-inline-end: auto;

    width: 80%;
    max-height: 100vh;
  }

  .header__text {
    position: absolute;
    bottom: 0;
    right: 0;

    text-align: right;

    margin-inline-end: 3rem;
    width: clamp(25ch, calc(25ch + 20vw), 100ch);
  }

  .library__heading {
    text-align: right;
    padding-inline-end: 2rem;
  }
}

@media screen and (min-width: 68rem) {
  .header__image {
    background-size: contain;
  }
}
